@import "tailwindcss";
@plugin "@tailwindcss/typography";
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  font-family: "Figtree Variable", sans-serif;
}

@theme {
  --color-primary: #055372;
}

@layer utilities {
  .container {
    max-width: 70rem;
  }
}
